@model SearchModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Type USA state name" aria-label="Username" aria-describedby="basic-addon1" name="stateName">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
